spring:
  application:
    name: blackbox-annotations
  datasource:
    url: jdbc:mysql://localhost:3306/db_blackbox?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type: TRACE
