<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head</title>
    <!--My Css -->
    <link rel="stylesheet" href="/css/style_layout.css">
    <link rel="stylesheet" href="/css/style_menuPagination.css">
    <link rel="stylesheet" href="/css/style_form_funcionarios.css">
    <link rel="stylesheet" href="/css/style_editor_text.css">
    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/js/all.js">

    <!-- TinyMCE CDN -->
    <script src="https://cdn.tiny.cloud/1/0ay3sij1cm0sdyn1bm3r95jrnhisbwg8kguyvxh82yqsmh4x/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#editor',
            spellchecker_languages: 'US English=en_US,UK English=en_GB,Danish=da,Dutch=nl,Finnish=fi,French=fr,German=de,Italian=it,Norwegian=nb,Brazilian Portuguese=pt,Iberian Portuguese=pt_PT,Spanish=es,Swedish=sv',
            skin: 'fabric',
            content_css: 'fabric',
            toolbar_mode: 'floating',
            plugins: 'advlist anchor autolink charmap code codesample directionality help hr image imagetools insertdatetime link lists media nonbreaking pagebreak preview print searchreplace table template textpattern toc visualblocks wordcount',
            toolbar: 'undo redo | formatselect | bold italic strikethrough forecolor backcolor blockquote | link image media | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent | removeformat',
            height: 450
        });

    </script>
</head>

<body>
<header th:replace="~{fragments/_header :: header}"></header>

<!-- ============= Home Section =============== -->
<section class="home">
    <aside th:replace="~{fragments/_menuTop ::menuTop}"></aside>
    <main class="layout-content" layout:fragment="corpo">
        <h1>
            This main content will be decorated by the actual page returned
            in the controller methods.
        </h1>
    </main>

    <footer th:replace="~{fragments/_footer :: footer}"></footer>
</section>




<!-- My - JS -->
<script src="/js/script_layout.js"></script>
<script src="/js/date_time.js"></script>

<!-- jquery , Popper.js , Bootstrap  -->
<script src="/webjars/jquery/3.6.4/jquery.js"></script>
<script src="/webjars/jquery-mask-plugin/1.14.16/dist/jquery.mask.js"></script>
<script src="/webjars/popper.js/2.9.3/umd/popper.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/js/bootstrap.min.js">

<script>

    $(document).ready(function () {
        // limpar o campo de pesquisa
        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/v1/app/cpd/funcionarios/list}]]";
        });

    });

</script>
</body>
</html>