<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head</title>
    <!--My Css -->
    <link rel="stylesheet" href="/css/style_layout.css">
    <!-- <link rel="stylesheet" href="/css/style_menuPagination.css">-->
    <link rel="stylesheet" href="/css/style_form_funcionarios.css">
    <link rel="stylesheet" href="/css/style_editor_text.css">
    <link rel="stylesheet" href="/css/style_list_post.css">

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.css">

    <!-- TinyMCE CDN -->
    <script src="https://cdn.tiny.cloud/1/0ay3sij1cm0sdyn1bm3r95jrnhisbwg8kguyvxh82yqsmh4x/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/js/tinymce-config.js"></script>

</head>

<body>
<header th:replace="~{fragments/_header :: header}"></header>

<!-- ============= Home Section =============== -->
<section class="home">
    <aside th:replace="~{fragments/_menuTop ::menuTop}"></aside>

<!--    <div class="alert  alert-success alert-dismissible fade show" role="alert">-->
<!--        <p>Olá, <span sec:authentication="name" ></span></p>-->
<!--    </div>-->

    <main class="layout-content" layout:fragment="corpo">
        <div class="container row m-5">

            <div class="card mx-4" style="width: 18rem;">
                <img src="/imagens/people.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gerenciamento de Usuários</h5>
                    <p class="card-text">
                        Cadastre, atualize, filtre e delete usuários de forma fácil e rápido
                    </p>
                    <a th:href="@{/v1/app/cpd/funcionarios/list}" class="btn btn-primary">Acessar</a>
                </div>
            </div>

            <div class="card mx-4" style="width: 18rem;">
                <img src="/imagens/book.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Postagens</h5>
                    <p class="card-text">
                        Registre os ocorridos durante o dia e deixe os demais atualizados de forma, rápida e descomplicada.
                    </p>
                    <a th:href="@{/v1/app/cpd/postagens/list}"
                       class="btn btn-primary"
                    >Acessar
                    </a>
                </div>
            </div>

            <div class="card mx-4" style="width: 18rem;">
                <img src="/imagens/cog.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Configurações</h5>
                    <p class="card-text">
                        Visualize suas informações pessoais e configurações, básicas da aplicação
                    </p>
                    <a href="#" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </main>
</section>
<footer th:replace="~{fragments/_footer :: footer}"></footer>



<!-- My - JS -->
<script src="/js/script_layout.js"></script>
<script src="/js/date_time.js"></script>

<!-- jquery , Popper.js , Bootstrap  -->
<script src="/webjars/jquery/3.6.4/jquery.js"></script>
<script src="/webjars/jquery-mask-plugin/1.14.16/dist/jquery.mask.js"></script>
<script src="/webjars/popper.js/2.9.3/umd/popper.js"></script>
<script src="/webjars/bootstrap/5.3.0/js/bootstrap.js"></script>
<script src="/webjars/font-awesome/6.4.0/js/all.js"></script>


<script>

    $(document).ready(function () {
        // limpar o campo de pesquisa
        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/v1/app/cpd/funcionarios/list}]]";
        });

    });

</script>
</body>
</html>