<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/_head::head}"></head>

<body>
<header th:replace="~{fragments/_header :: header}"></header>

<!-- ============= Home Section =============== -->
<section class="home">
    <div class="toggle-sidebar">
        <div class="menu-icon">
            <i class='bx bx-menu'></i>
            <div class="text">Menu</div>
        </div>

        <div class="date-time">
            <span th:text="${myDate}"></span>
            <span th:text="${myTime}"> </span>
        </div>

    </div>

    <main class="layout-content" layout:fragment="corpo">
        <h1>
            This main content will be decorated by the actual page returned
            in the controller methods.
        </h1>
    </main>
</section>

<footer th:replace="~{fragments/_footer :: footer}"></footer>

<script th:src="@{/webjars/jquery-mask-plugin/1.14.16/dist/jquery.mask.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.js}"></script>

<script>
    const listItems = document.querySelectorAll(".sidebar-list li");

    listItems.forEach((item) => {
        item.addEventListener("click", () => {
            let isActive = item.classList.contains("active");

            listItems.forEach((el) => {
                el.classList.remove("active");
            });

            if (isActive) item.classList.remove("active");
            else item.classList.add("active");
        });
    });

    const toggleSidebar = document.querySelector(".toggle-sidebar");
    const logo = document.querySelector(".logo-box");
    const sidebar = document.querySelector(".sidebar");

    toggleSidebar.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    });

    logo.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    });

    //-----------------------
    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    $(document).ready(function () {
        $(".navbar-toggle").click(function () {
            $(".sidebar").toggleClass("sidebar-open");
        });

        // limpar o campo de pesquisa
        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/v1/app/cpd/funcionarios/list}]]";
        });

    });

</script>
</body>
</html>