<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Pagination</title>
</head>
<body>
    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(1, '<<', 'Primeira Página')"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Voltar', 'Voltar Página')"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Página ' + ${page})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${currentPage + 1},'Proximo', 'Proxima Página')"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Última Página')"></a>
            </li>
        </ul>
    </nav><!--Menu pagination-->
</body>
</html>