<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{css/style_home.css}">

    <!-- font-awesome -->
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/js/all.js}">
    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
</head>

<body>
<header>
    <a href="#" class="logo">Black <span>box</span></a>
    <div class="menuToggle" onclick="toggleMenu();">

    </div>

  <ul class="navigation">
        <li>
            <a href="#"  onclick="toggleMenu();">BlackBox</a>
        </li>
        <li>
            <a href="#"  onclick="toggleMenu();">Faqs e Ajuda</a>
        </li>
        <li>
            <a href="#service-menu"  onclick="toggleMenu();">Serviços</a>
        </li>
         <li>
          <a href="#sobre"  onclick="toggleMenu();">Desenvolvedor</a>
      </li>
    </ul>
    <!--        <div class="menu-btn" id="menu-btn">-->
    <!--            <i class="fa-solid fa-bars" id="menu-icon"></i>-->
    <!--        </div>-->
</header>

<section class="banner" id="banner">
    <div class="content">
        <h2 class="h2">Diário de Bordo</h2>
<!--        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore odit obcaecati, repellendus unde dolorem assumenda vero hic praesentium nostrum maiores.-->
<!--        </p>-->
        <div class="group-btn">
            <a th:href="@{/login}" class="btn-destaque">Logar</a> <!--Chamar um controller que leve para a page de login-->
<!--            <a th:href="@{/login/registrar}" class="btn-destaque">Cadastra-se</a>-->
<!--            <a th:href="@{/layout}" class="btn-destaque">Dashboard</a>-->
        </div>

    </div>
</section>

<section class="service-menu" id="service-menu">
    <div class="title">
        <h2 class="titletext"><span>S</span>erviços</h2>
        <p>
            Acesse e aproveite os nossos serviços disponíveis.
        </p>
    </div>

    <div class="content">
        <div class="box">
            <div class="imgBx" >
<!--                <i class="fa-regular fa-file-lines"></i>-->
                <img src="/imagens/people.svg" class="card-img-top" alt="..." style="height: 220px;">
                <p class="card-text">
                    Cadastre, atualize, filtre e delete usuários de forma fácil e rápida.
                </p>
            </div>

            <div class="text mt-2">
                    <a th:href="@{/login}" class="btn-destaque">Acessar</a>
            </div>
        </div>

        <div class="box">
            <div class="imgBx" >
<!--                <i class="fa-regular fa-file-lines"></i>-->
                <img src="/imagens/book.svg" class="card-img-top" alt="..." style="height: 220px;">
                <p class="card-text">
                    Registre os ocorridos durante o dia e deixe os demais atualizados de forma, rápida e descomplicada.
                </p>
            </div>

            <div class="text mt-2">
                    <a th:href="@{/login}" class="btn-destaque">Acessar</a>
            </div>
        </div>

        <div class="box">
            <div class="imgBx" >
<!--                <i class="fa-regular fa-file-lines"></i>-->
                <img src="/imagens/cog.svg" class="card-img-top" alt="..." style="height: 220px;">
                <p class="card-text">
                    Visualize suas informações pessoais e configurações, básicas da aplicação.
                </p>
            </div>

            <div class="text mt-2">
                    <a th:href="@{/login}" class="btn-destaque">Acessar</a>
            </div>
        </div>

    </div><!--div content-->
</section>



<footer th:replace="~{fragments/_footer :: footer}"></footer>
<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/js/bootstrap.js">

<script type="text/javascript">

    window.addEventListener('scroll', function(){
        const header = document.querySelector('header');
        header.classList.toggle("sticky", window.scrollY > 0);

    });

    function toggleMenu(){
        const menuToggle = document.querySelector('.menuToggle');
        const navigation = document.querySelector('.navigation')
        menuToggle.classList.toggle('active');
        navigation.classList.toggle('active');
    }

    const myCarouselElement = document.querySelector('#myCarousel')

    const carousel = new bootstrap.Carousel(myCarouselElement, {
        interval: 2000,
        touch: false
    })

</script>
</body>

</html>