<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style_logar_registrar.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.css}">
</head>
<body>
    <input type="checkbox" id="click">
    <div class="main-container">
        <div class="form-container">
            <div class="sign-in">
                <form action="#">
                    <h1>Logar com</h1>
                    <div class="social-container">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-google-plus-g"></a>
                        <a href="#" class="fab fa-linkedin-in"></a>
                    </div>
                    <span>ou sua conta</span>
                    <input type="text" placeholder="login">
                    <input type="password" placeholder="senha">
                    <a href="#" class="fogot-pass">Esqueceu sua senha?</a>
                    <button type="submit">Entrar</button>
                </form>
            </div><!--sign-in-->

            <div class="sign-up">
                <form th:action="@{/cadastrar}" method="get">
                    <h1>Criar conta com</h1>
                    <div class="social-container">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-google-plus-g"></a>
                        <a href="#" class="fab fa-linkedin-in"></a>
                    </div>
                    <span>ou informe seus dados abaixo</span>
                    <input type="text" placeholder="Nome" name="nome">
                    <input type="text" placeholder="login" name="login">
                    <input type="date" placeholder="Data de Nascimento" name="data_nascimento" title="Informe a sua data de nascimento">

                    <input list="cargos" id="cargo" placeholder="Cargo" name="cargo" title="Informe o seu Cargo">
                    <datalist id="cargos">
                        <option value="CPD">
                        <option value="REPOSITOR">
                        <option value="LÍDER">
                        <option value="GERENTE">
                        <option value="OPERADOR">
                    </datalist>

                    <input type="password" placeholder="senha" name="senha">
                    <a href="#" class="fogot-pass">Esqueceu sua senha?</a>
                    <button type="submit">Entrar</button>
                </form>
            </div><!--sign-up-->

            <div class="slide-container">
                <div class="slide-panel">
                    <div class="slide-left">
                        <h1>Olá, Seja
                            <br>bem-vindo!
                        </h1>
                        <p>Crie uma nova conta agora é aproveite as nossas funcionalidades</p>
                        <label for="click" class="slide">Criar conta</label>
                    </div>
                    <div class="slide-right">
                        <h1>Seja bem-vindo de volta!</h1>
                        <p>Para se manter conectado conosco, faça o login com suas informações pessoais</p>
                        <label for="click" class="slide">Entrar</label>
                    </div>
                </div>

            </div>


        </div><!--form-container-->
    </div><!--main-container-->
    
</body>
</html>